.mobile {
  display: none;
}

@media only screen and (max-width: 799px) {
  nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    position: fixed;
    width: 100%;
    opacity: 80%;
    background: gold;
  }
  .mobile {
    display: flex;
    position: relative;
    margin-right: 32px;
  }

  ul {
    display: none;
  }
}
