.mobile {
  display: none;
}

.desktop {
  display: block;
}

@media only screen and (max-width: 799px) {
nav {
  display: flex;
justify-content: space-between;
flex-direction: row-reverse;
}
  .mobile {
    display: flex;
    position: relative;
  }

  .desktop {
    display: none;
  }
}