body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: #ffffff;
}

section {
  margin: 0px 0px;
}

#about > .flex-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
}

#about > .flex-container img {
  max-height: 50vh;
  width: 90%;
  object-fit: cover;
}

#about > .flex-container > .about-explain {
  font-size: 0.8rem;
  color: rgb(0, 0, 0);
}

#about > .flex-container .about-explain {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

#list-product > .flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#list-product > .flex-container figure {
  margin: 36px;
  padding: 24px;
  display: grid;
  justify-content: center;
}
#list-product > .flex-container figure:hover {
  background-color: rgb(237, 198, 25);
  color: white;
}

#list-product > .flex-container figure img {
  height: 70vh;
  width: 60vw;
  object-fit: cover;
}

#list-product > .flex-container figcaption {
  text-align: center;
  margin-top: 12px;
  color: rgb(0, 0, 0);
}
footer > .flex-container h2 {
  text-align: center;
  align-content: center;
  color: white;
}

footer {
  background-color: black;
}

footer > .flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 36px;
  padding-left: 30px;
  padding-right: 30px;
}

footer > .flex-container > img {
  max-width: 20vw;
  object-fit: cover;
}

footer > .flex-container > article {
  font-size: 6px;
  color: white;
}

footer > .flex-container > h2 {
  font-size: 10px;
  color: grey;
  align-self: flex-end;
}

/* HEADER */

nav {
  display: flex;
  background-color: white;
  justify-content: space-between;
  flex-direction: row;
  overflow-x: hidden;
}

ul .desktop{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style: none;
  margin-right: 70px;
  gap: 40px;
  padding: 0;
  text-decoration: none;
}

ul > li > a {
  text-decoration: none;
  color: grey;
}

.logo {
  margin: auto;
  margin-left: 70px;
  width: 210px;
}

/* HOME */
.bg {
  width: 100%;
}

.model {
  display: flex;
  margin: auto;
  background-color: white;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.model > img {
  width: 15%;
  height: 15%;
}

.home {
  display: flex;
  background-color: black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tagline {
  display: block;
  position: absolute;
  color: whitesmoke;
  margin-right: 50%;
  font-size: 3em;
}

@media (max-width: 425px) {
  nav {
    flex-direction: column;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    /* visibility: hidden; */
  }

  .logo {
    margin-top: 20px;
    margin-left: 30px;
  }

  .model {
    flex-direction: column;
    gap: 1px;
  }

  .model > img {
    width: 30%;
    height: 30%;
    margin-top: 20px;
  }

  .tagline {
    margin-right: 35%;
    font-size: 1.2rem;
  }

  /* --- Changes for about section--- */

  #about > .flex-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #about > .flex-container img {
    height: auto;
    max-width: 90%;
  }

  #about > .flex-container > .about-explain {
    font-size: 10px;
    color: rgb(0, 0, 0);
    text-align: justify;
  }

  #about > .flex-container .about-explain {
    height: auto;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  h2 {
    text-align: center;
    font-size: 20px;
  }
}

/*for tablet and desktop */
@media only screen and (min-width: 799px) {
  section {
    margin: 12px 0px;
  }
  #about > .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align:left
  }

  #about > .flex-container img {
    height: 150vh;
    width: 45%;
  }

  #about > .flex-container > .about-explain {
    font-size: 1rem;
    color: rgb(0, 0, 0);
  }

  #about > .flex-container .about-explain {
    display: flex;
    width: 45%;
    flex-direction: column;
    justify-content: center;
  }

  #list-product > .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 36px;
  }

  #list-product > .flex-container figure {
    margin: 12px;
    padding: 20px;
  }
  #list-product > .flex-container figure:hover {
    background-color: rgb(237, 198, 25);
    color: white;
  }

  #list-product > .flex-container figure img {
    height: 70vh;
    max-width: 25vw;
    object-fit: cover;
  }

  #list-product > .flex-container figcaption {
    text-align: center;
    margin-top: 12px;
    color: rgb(0, 0, 0);
  }

  footer > .flex-container h2 {
    text-align: center;
    align-content: center;
    color: white;
  }

  footer {
    background-color: black;
  }

  footer > .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 36px;
  }

  footer > .flex-container > img {
    max-height: 26vh;
    object-fit: cover;
  }

  footer > .flex-container > article {
    font-size: 0.8rem;
    color: white;
  }
}
