body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: #ffffff;
}

section {
  margin: 0px 0px;
}

#about > .flex-container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 12px;
}

#about > .flex-container img {
  height: 80vh;
  max-width: 50%;
  object-fit: cover;
}

#about > .flex-container > .about-explain {
  font-size: 7px;
  color: rgb(0, 0, 0);
}

#about > .flex-container .about-explain {
  height: 80vh;
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: space-evenly;
}

#list-product > .flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#list-product > .flex-container figure {
  margin: 36px;
  padding: 24px;
  display: grid;
  justify-content: center;
}
#list-product > .flex-container figure:hover {
  background-color: rgb(237, 198, 25);
 color: white;
}

#list-product > .flex-container figure img {
  height: 70vh;
  width: 60vw;
  object-fit: cover;
}

#list-product > .flex-container figcaption {
  text-align: center;
  margin-top: 12px;
  color: rgb(0, 0, 0);
}
footer > .flex-container h2 {
  text-align: center;
  align-content: center;
  color: white;
}

footer {
  background-color: black;
}

footer > .flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 36px;
}

footer > .flex-container > img {
  max-width: 20vw;
  object-fit: cover;
}

footer > .flex-container > article {
  font-size: 6px;
  color: white;
}

/* for tablet and desktop */
@media only screen and (min-width: 768px) {
  section {
    margin: 12px 0px;
  }
  #about > .flex-container {
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 12px;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  #about > .flex-container img {
    height: 75vh;
    max-width: 40%;
    object-fit: cover;
  }

  #about > .flex-container > .about-explain {
    font-size: 12px;
    color: rgb(0, 0, 0);
  }

  #about > .flex-container .about-explain {
    height: 75vh;
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #list-product > .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 36px;
  }

  #list-product > .flex-container figure {
    margin: 12px;
    padding: 20px;
  }
  #list-product > .flex-container figure:hover {
    background-color: rgb(237, 198, 25);
   color: white;
  }

  #list-product > .flex-container figure img {
    height: 70vh;
    max-width: 25vw;
    object-fit: cover;
  }

  #list-product > .flex-container figcaption {
    text-align: center;
    margin-top: 12px;
    color: rgb(0, 0, 0);
  }

  footer > .flex-container h2 {
    text-align: center;
    align-content: center;
    color: white;
  }

  footer {
    background-color: black;
  }

  footer > .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 36px;
  }

  footer > .flex-container > img {
    max-height: 36vh;
    object-fit: cover;
  }

  footer > .flex-container > article {
    font-size: 10px;
    color: white;
  }
}
